<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM Charts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container-wide">
    <h2>ATM Transaction Chart</h2>

    <img
        src="{{ url_for('static', filename='chart.png') }}"
        alt="ATM Chart"
        class="chart-image"
    >

    <a href="/admin_dashboard" class="back">← Back to Admin Dashboard</a>
</div>

</body>
</html>
