<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="box">
        <h2>Edit User</h2>

        <form method="POST">
            <input type="text" name="name" value="{{ user[1] }}" required>
            <input type="email" name="email" value="{{ user[2] }}" required>
            <input type="text" name="card" value="{{ user[3] }}" required>
            <input type="password" name="pin" value="{{ user[4] }}" required>
            <input type="number" name="balance" value="{{ user[5] }}" required>
            <button type="submit">Update User</button>
        </form>

        <br>
        <a href="/all_users" class="back">← Back to All Users</a>
    </div>

</body>
</html>