<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-box">
    <h2>Edit Profile</h2>

    <form method="POST" enctype="multipart/form-data"></form>
        <input type="text" name="name" value="{{ user[1] }}" placeholder="Full Name" required>
        <input type="email" name="email" value="{{ user[2] }}" placeholder="Email" required>
        <input type="file" name="profile_pic" accept="image/*">


        <button type="submit">Update Profile</button>
    </form>

    <p>
        <a href="/dashboard">Back to Dashboard</a>
    </p>
</div>

</body>
</html>