<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM Registration</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-box">

    <h2>Create ATM Account</h2>

    <form method="POST">

        <input type="text"
               name="name"
               placeholder="Full Name"
               required>

        <input type="email"
               name="email"
               placeholder="Email Address"
               required>

        <input type="text"
               name="card"
               placeholder="ATM Card Number"
               maxlength="12"
               required>

        <input type="password"
               name="pin"
               placeholder="PIN"
               required>

        <button type="submit">
            Register
        </button>

    <select name="security_question" required>
        <option value="">Select Security Question</option>
        <option value="What is your pet name?">What is your pet name?</option>
        <option value="What is your favorite color?">What is your favorite color?</option>
        <option value="What is your birth place?">What is your birth place?</option>
        <option value="What is your best friend's name?">What is your best friend's name?</option>
    </select>

        <input type="text"
        name="security_answer"
        placeholder="Security Answer"
        required>

    </form>

    <p>
        Already have an account?
        <a href="/">Login Here</a>
    </p>

</div>

</body>
</html>