<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="box">
    <h2>Search User</h2>

    <form method="POST">
        <label for="keyword">Search by Name or Card Number</label>
        <input
            type="text"
            id="keyword"
            name="keyword"
            placeholder="Enter Name or Card Number"
            required
        >
        <button type="submit">Search</button>
    </form>

    {% if users %}
    <div class="table-wrapper">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Card Number</th>
                <th>Balance</th>
            </tr>

            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
                <td>₹ {{ user[4] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% elif request.method == "POST" %}
    <p>No user found.</p>
    {% endif %}

    <a href="/admin_dashboard" class="back">← Back to Admin Dashboard</a>
</div>

</body>
</html>