<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Transfer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="box">

    <h2>Money Transfer</h2>

    <form method="POST">

        <input
            type="text"
            name="receiver"
            placeholder="Receiver Card Number"
            required>

        <input
            type="number"
            name="amount"
            placeholder="Enter Amount"
            min="1"
            step="0.01"
            required>

        <button type="submit">
            Transfer Money
        </button>

    </form>

    <br>

    <a href="/dashboard" class="back">
        ← Back to Dashboard
    </a>

</div>

</body>
</html>